@import 'semantic-ui';
@import 'semantic-ui/collections/menu';

.chatbox {
  height: 650px;
}

.mt-40 {
  margin-top:40px !important;
}

.mb-30 {
  margin-bottom:30px !important;
}

.message.closable {
  margin-left: 20%;
  margin-right: 20%;
 }

.ht-60 {
  height: 60px;
}

.wdt-600 {
  width: 600px !important;
}

.wdt-450 {
  width: 450px !important;
}

.ht100wd100 {
  height: 100%;
  width: 100%;
}

#messages {
  overflow: auto;
  height: 15em;
}
